# ========================
# Entornos de desarrollo
# ========================
# Eclipse
.settings/
.classpath
.project
.factorypath
.attach_pid*
.sts4-cache/
.metadata/
.apt_generated/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ========================
# Maven y Compilados
# ========================
target/
_site/

# ========================
# JaCoCo / Cobertura
# ========================
coverage/

# ========================
# Node / Frontend
# ========================
package-lock.json